
p {
    font-family: 'Noto Sans JP', sans-serif;;
}
h1{
    font-family: 'Noto Sans JP', sans-serif;;
}
h2 {
    font-family: 'Noto Sans JP', sans-serif;;
}
h3 {
    font-family: 'Noto Sans JP', sans-serif;;
}
h4 {
    font-family: 'Noto Sans JP', sans-serif;;
}
h5 {
    font-family: 'Noto Sans JP', sans-serif;;
}
#hero-banner {
    width: 100%;
}
img.social {
    width: 40px;
    display: flex;   
}
.icons {
display: flex;
justify-content: center;
}
li {
    list-style: none;
}
.icons {
    display: flex;
    justify-content: center;
}
#bio-pic {
    float: right;
}
#what {
    font-size: xx-large;
}
#services h3 {
    font-size: xx-large;
}
#services {
    display: flex;
    flex-direction: row;
}
nav > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    height: 4em;
    margin: 0px;
    background-color: black;
    font-size: large;
}
nav > ul > li > a {
text-decoration: none;
color: white;
line-height: 75px;
font-size: x-large;  
}
nav {
    color: white;
}
#work {
    padding: 5em 0em 6em 0em;
}
#work h2 {
    font-size: xx-large;
}
#work p {
    padding: 0em 25em 3em 25em;
}
#work img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 margin: 0 auto;
}
header > img {
    max-width: max-content;
    height: auto;
}
#about-me {
    display: inline-flex;
    flex-direction: column;
    font-size: xx-large;
    padding: 2em 0em 0em 155px;
}
#about-description {
    display: flex;
    flex-wrap: wrap;
    font-size: larger;
    line-height: 30px;
    align-content: left;
    padding: 0em 10em 20px 8em;
}
#quotes {
    color: white;
    background-color: black;
    padding: 5em 0em 1em;
}
#quotes h3 {
    text-align: center;
    font-size: xx-large;
}
#quotes > ul {
    display: flex;
    flex-direction: row;
    font-size: large;
    font-style: italic;
    text-align: center;
    margin: 3em 12em;
}
#cite {
    color: lightgrey;
    font-style: normal;
}
#contact {
    text-align: center;
    font-size: x-large;
    margin: 0em 12em;
}
#service {
    background-color: whitesmoke;
    text-align: center;
    padding: 5em;
}
#services {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
    background-color: white;
    text-align: left;  
    padding: 50px 100px;
    margin: 30px 80px;
}
#work {
    text-align: center;
    width: auto;
    font-size: larger;
}
footer {
    color: white;
    background-color: black;
    text-align: center;
    padding: 1px;
    font-size: large;
}